$phoneBG: #dfe9f7;
$tabletBG: #fdd7e9;
$desktopBG: rgb(248, 186, 186);
$largeBG: rgb(244, 250, 220);

$primaryColor: #35546e;
$primaryHover: #1c384e;
$primaryAccent: #d4e6f3;
$secondaryColor: #ffbf0f;
$secondaryColorLight: #fdf8e7;
$secondaryOff: #fef6e9;
$borderColor: #888888;
$thirdColor: #91e1ff;

$fontGray: #696969;

$backgroundColor: #e4e4e4;
$backgroundColorNews: #f7f7f7;

$white: white;

$fs_normal: 1rem;
$fs_medium: 1.25rem;
$fs_large: 1.5rem;
$fs_s: 0.75rem;
$fs_xl: 2rem;

$header_font: "Yanone Kaffeesatz", sans-serif;

$max_width: 70rem;

$hoh-strong: #03b94f;
$hoh-light: #b4e4c8;

$pov-strong: #0091a1;
$pov-light: #b4dfe4;

$nom-strong: #ffbb00;
$nom-light: #fee08d;

$jury-strong: #7c65c1;
$jury-light: #ab9dd6;

$evic-strong: #666666;
$evic-light: #afafaf;
