<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    executionOrder="random">
    <testsuites>
        <testsuite name="bbjd">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
